
<div class="top">
  <div class="top-image">
  <%= image_tag "IMG_6791.jpeg" %>
  </div>
</div>

<h3>投稿を検索</h3>
 <%= form_tag({controller:"foods",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<%= form_tag({controller:"foods",action:"index"}, method: :get) do %>
  <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag '検索' %>
<% end %>

<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_food_path %>
<div class=travel>
<div class="foods-container">
  <h2>Foods</h2>
  <% @foods.select { |food| food.genre == 'food' }.each do |food| %>
    <div class="food">
      <%= food.name %>
      <%= food.genre %>
      <%= food.body %>
      <%= food.created_at %>
      <%= link_to "詳細へ", food_path(food.id) %>
      <%= link_to "編集する", edit_food_path(food.id) %>
      <%= button_to "削除する", food_path(food.id), method: :delete %>
      <%= image_tag food.image_url, size: "250x200" if food.image? %>
    </div>
  <% end %>
</div>

<div class="spots-container">
  <h2>Spots</h2>
  <% @foods.select { |food| food.genre == 'spot' }.each do |spot| %>
    <div class="spot">
      <%= spot.name %>
      <%= spot.genre %>
      <%= spot.body %>
      <%= spot.created_at %>
      <%= link_to "詳細へ", food_path(spot.id) %>
      <%= link_to "編集する", edit_food_path(spot.id) %>
      <%= button_to "削除する", food_path(spot.id), method: :delete %>
      <%= image_tag spot.image_url, size: "250x200" if spot.image? %>
    </div>
  <% end %>
</div>
</div>